body{
    margin: 0;
    background: #3333;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;  
    min-height: 100vh;
}
.App{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
